{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'members/home.css' %}">
</head> 
<body>
        <h1 class="text">ArmChat</h1>
        <div class="buts">
        <button class="but" id="second">
            <a href="{% url 'register_page' %}" style="color: #E8E1D0;">Sign up</a>
            </button>
        <button class="but">
            <a href="{% url 'login_page' %}" style="color: #E8E1D0;">Log in</a>
        </button>
        </div>
    </div>
</body>
</html>
